<table class="table">
    <thead>
      <tr>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          S.No
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Name
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          DOB
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          gender
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          address
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          address1
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          address2
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          state
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          city
        </button></th>
        <th scope="col" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          pin code
        </button></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>1-1-2020</td>
        <td>Male</td>
        <td>1-266</td>
        <td>Ramapuram</td>
        <td>Mumbai</td>
        <td>Maharastra</td>
        <td>Mumbai</td>
        <td>400708</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>2-1-2020</td>
        <td>Male</td>
        <td>8-836</td>
        <td>Airoli</td>
        <td>Hyderabad</td>
        <td>Telangana</td>
        <td>Hyderabad</td>
        <td>500008</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>3-1-2020</td>
        <td>Male</td>
        <td>2/258</td>
        <td>White field</td>
        <td>Bangalore</td>
        <td>Karnataka</td>
        <td>Bangalore</td>
        <td>458263</td>
      </tr>
    </tbody>
  </table>



<div class="container">
  <!-- Button to Open the Modal -->
  

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        
        
        <!-- Modal body -->
        <div class="modal-body">
         <div class="container">
          <div class="box">
            <div class="row">
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
            fade show " role="alert"> 
            <strong>S.No</strong>
          </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>Name</strong>
        </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>DOB</strong>
        </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>gender</strong>
        </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
            fade show " role="alert"> 
            <strong>address</strong>
          </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>address1</strong>
        </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>address2</strong>
        </div>
              </div>
              <div class="col-3">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>state</strong>
        </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="alert alert-success alert-dismissible  
            fade show " role="alert"> 
            <strong>city</strong>
          </div>
              </div>
              <div class="col-6">
                <div class="alert alert-success alert-dismissible  
          fade show " role="alert"> 
          <strong>pin code</strong>
        </div>
              </div>
              
              
            </div>
            

            
          </div> 
         </div>
         <div class="container">
          <div class="box">
            
          </div>
         </div>
        </div>
        
         <!-- Modal footer -->
         <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>




 